[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
titlecase = "*"
pyyaml = "*"
"ruamel.yaml" = "*"
yamllint = "*"
yamale = "*"
pykwalify = "*"
yaspin = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.10"
